# Django
SECRET_KEY=wzIT5VwpEIe5SlSXnxrkDVGrM50zdZL5rKUtqrZBTy4E5Gs_lnQ74IdgIh-v_DaJlWU
DEBUG=True
ENVIRONMENT=development
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Connection with Transaction Pooler
DATABASE_URL=postgresql://postgres.kksbzfbjszbwpfemjpzh:F7zSpL1tNUFSM0bZ@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=480
REFRESH_TOKEN_LIFETIME_DAYS=7