# Django
SECRET_KEY=your-secret-key
DEBUG=True
ENVIRONMENT=development
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Connection with Transaction Pooler
DATABASE_URL=postgresql://user:password@localhost:5432/ssc_db?options=-c%20statement_timeout=5000&options=-c%20idle_in_transaction_session_timeout=10000
# CORS
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT
ACCESS_TOKEN_LIFETIME_MINUTES=480
REFRESH_TOKEN_LIFETIME_DAYS=7